# Ignore Python bytecode files
__pycache__/

# Ignore environment-specific files
.env

# Ignore streamlit cache and session state
.streamlit/
.st_cache/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore extracted data files (if any)
*.csv
*.xlsx

# Ignore log files (if any)
*.log

# Ignore Python virtual environment
venv/
